.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;

  &__mobile-menu {
    display: none;
    align-items: center;
    gap: 8px;
  }

  &__mobile-btn {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;

    &--overlook::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color-torch-red;
      border: 2px solid $color-default-white;
    }
  }

  @include vp-1023 {
    &__mobile-menu {
      display: flex;
    }
  }

  @include vp-767 {
    padding: 10px 0;
  }
}
