.help {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: $color-international-orange;
  border-radius: 26px;
  border: 8px solid $color-chablis;
  color: $color-default-white;

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 132%;
    color: $color-default-white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @include vp-767 {
    padding: 20px;
    gap: 20px;
    border-width: 6px;
    order: 1
  }
}
