.hotline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  padding: 24px;
  border: 1px solid $color-white-smoke;
  border-radius: 24px;
  background-color: $color-floral-white;

  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: $color-grey;
  }

  &__phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 132%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: $color-bright-grey;
  }

  svg {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
