.nav {
  padding-left: 12px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 128%;
    color: $color-grey;

    @include hover-focus {
      color: $color-international-orange;

      .icon {
        --icon-bg: #{$color-chablis};
        --icon-fg: #{$color-international-orange};
      }
    }
  }
}
