.story {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    gap: 10px;
    height: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
    padding: 8px;
    border-radius: 32px;
    transition: $trans-default;

    img {
      width: 134px;
      height: 134px;
      border-radius: 50%;
      object-fit: contain;
    }

    p {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 132%;
      color: $color-grey;
      border-radius: 8px 8px 24px 24px;
      padding: 16px;
      background-color: $color-default-white;
    }

    &--chablis {
      background-color: $color-chablis;
    }

    &--tea-rose {
      background-color: $color-tea-rose;
    }

    &--dodger-blue {
      background-color: $color-dodger-blue;
    }

    @include hover-focus {
      p {
        color: $color-international-orange;
      }
    }
  }

  @include vp-767 {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }

    &__link {
      padding: 4px;
      border-radius: 16px;

      img {
        width: 80px;
        height: 80px;
      }

      p {
        font-size: 10px;
        border-radius: 4px 4px 12px 12px;
        padding: 8px 4px 8px 6px;
      }
    }
  }
}
