.user {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  &__avatar {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 128%;
      text-align: center;
      color: $color-bright-grey;
    }
  }

  &__city {
    display: flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(100px);
    background: $color-floral-white;
    border-radius: 32px;
    padding: 8px 8px 8px 24px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 128%;
      color: $color-bright-grey;
    }

    b {
      font-weight: 400;
      font-size: 14px;
      line-height: 128%;
      color: $color-black-russian;
    }
  }

  @include vp-767 {
    padding: 0;

    &__city {
      padding: 0;

      span {
        display: none;
      }

      b {
        color: $color-grey;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
